# Unreal Engine 기본 빌드/캐시 폴더
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE 관련
.vscode/
.vs/
.idea/

# 솔루션/캐시 파일
*.sln
*.suo
*.user
*.userprefs
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# 용량 큰 영상/이미지/사운드 (있다면)
*.log
*.mp4
*.avi
*.mov
*.wav
*.psd
*.tif

# 🔴 Temples of Cambodia 에셋 전체 제외
Content/TemplesOfCambodia/
Content/templesofcambodia/
Content/ParagonGreystone/
Content/ParagonKhaimera/

# 🔴 라이트 빌드 데이터(다시 만들 수 있으니 제외)
Content/Main_BuiltData.uasset
*_BuiltData.uasset

/Content/__ExternalActors__/
/Content/__ExternalObjects__/

/Intermediate/
/Saved/
/MigrationReports/
/Saved/Logs/

UpdateLog*
UpgradeLog*
